@import 'settings/variables';

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.15);
}

.menu__option {
  border: none;
  bottom: 50%;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  background-color: transparent;
  user-select: none;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;

  &:active {
    background-color: $secondary;
    transform: scale(0.95);
  }

  & > img {
    vertical-align: bottom;
  }

  &:first-child > img {
    width: 1.095rem;
  }
  &:last-child > img {
    width: 1.2925rem;
  }
}
