@import 'settings/variables';

.app-logo {
  width: 6.25rem;
  margin-top: 1.3125rem;
  margin-left: 1.5rem;

  &:active {
    transform: scale(0.95);
  }
}

.app-current-date {
  width: 10rem;
  height: 3.75rem;
  background: $accent;
  position: fixed;
  top: 0;
  right: 0;
  border-bottom-left-radius: 3.75rem;
  color: $font-color-light;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
  padding-right: 1rem;
}

@media screen and (min-width: 768px) {
  .app-current-date {
    width: 18.125rem;
    height: 4.125rem;
    font-size: 0.875rem;
    padding-right: 4rem;
  }
}
