@import 'settings/variables';

.menu {
  position: fixed;
  left: 0;
  height: 100%;
  width: 5.125rem;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.menu__logo {
  width: 2rem;
  height: 2rem;
  align-self: center;
  margin-top: 3.1875rem;
  margin-bottom: 25vh;

  &:active {
    transform: scale(0.95);
  }
}

.menu__option {
  padding: 1.0625rem 0;
  border: none;
  height: 3.4375rem;
  border-top-right-radius: 3.4375rem;
  border-bottom-right-radius: 3.4375rem;
  width: 4.75rem;
  background-color: transparent;
  margin-bottom: 1.5625rem;

  &:first-of-type {
    & > img {
      width: 1.095rem;
    }
  }

  &:last-of-type > img {
    width: 1.2925rem;
  }

  &:hover,
  &:active {
    background-color: $secondary;
  }

  &:active {
    transform: scale(0.95) translateX(-0.125rem);
  }
}
